---
layout: index 
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<div class="row" id="categories">
  {% for category in site.categories %} 
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-default" id="{{ category | first }}">
      <!-- Default panel contents -->
      <div class="panel-heading"><i class="glyphicon glyphicon-th-list"></i> {{ category | first | join: "/" }}</span> <span class="pull-right label label-info">{{ category[1].size }}</span> </div>

      <div class="panel-body">
        <p>
          {% case category[0]  %}
          {% when "apache" %}
          记录apache相关的技术
          {% when "browser" %}
          记录浏览器相关的技术
          {% when "vim" %}
          记录vim相关的技术，包括基础入门、高级技巧、插件等
          {% when "agile" %}
          新型软件开发方法，是一种应对快速变化的需求的一种软件开发能力
          {% else %}
          记录{{ category | first }}相关的技术
          {% endcase %}
        </p> 
      </div>

      <!-- Table -->
      <table class="table">
        {% assign pages_list = category[1] %}  
        {% include JB/table_list %}
      </table>
    </div>
  </div>
  {% endfor %}
</div>

<style> 

.panel:target {
border-color: #428bca;
} 

#categories .panel:target > .panel-heading {
color: #fff;
background-color: #428bca;
background-image: none;
border-color: #428bca;
}
</style>
