.reflection img {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.5);
  box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.5);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.box img { width:150px; height:150px; }
.box a { position: relative; display: inline-block; width: 150px; height: 150px; margin-right: 10px; margin-bottom:50px;}

.reflection a:after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 30px;
  bottom: -31px;
  left: 0;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: -moz-linear-gradient(top, rgba(0,0,0,.1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.1)), color-stop(100%,rgba(255,255,255,0)));
  background: linear-gradient(top, rgba(0,0,0,.1) 0%,rgba(255,255,255,0) 100%);
}

